{% extends 'base.jinja2' %}

{% block content %}
<h2>ElasticSearch API</h2>
<h6>Add /data/n to visualize any page of data</h6>
<h6>n must be an integer (for example, 0, 1, 2... etc)</h6>


{% endblock %}
